<!DOCTYPE html>
<html data-ng-app="ipbox">
<head>
    <base href="/">
    <title>MEMOK</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<!-- bower:css -->
<link rel="stylesheet" href="/vendor/angular-material/angular-material.css">
<!-- endbower -->
<!-- inject:css -->
<link rel="stylesheet" href="/styles/app.css">
<link rel="stylesheet" href="/styles/material-design-icon.css">
<!-- endinject -->

<!--STYLES-->   
<!--STYLES END-->
</head>

<body>
    <div layout="row" layout-fill data-ui-view="layout" >

  </div>

<!-- <script src="/js/dependencies/sails.io.js"></script> -->
<!-- bower:js -->
<script src="/vendor/sails.io.js/dist/sails.io.js"></script>
<script src="/vendor/angular/angular.js"></script>
<script src="/vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/vendor/angular-sails/dist/angular-sails.js"></script>
<script src="/vendor/angular-translate/angular-translate.js"></script>
<script src="/vendor/angular-animate/angular-animate.js"></script>
<script src="/vendor/angular-aria/angular-aria.js"></script>
<script src="/vendor/angular-material/angular-material.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="/src/app/common/services/z.js"></script>
<script src="/src/app/common/services/user.js"></script>
<script src="/src/app/common/services/req.js"></script>
<script src="/src/app/common/services/generic.js"></script>
<script src="/src/app/common/services/auth.js"></script>
<script src="/src/app/common/constants/constant.js"></script>
<script src="/src/app/common/constants/api.js"></script>
<script src="/src/app/common/directives/src.js"></script>
<script src="/src/app/story/story.js"></script>
<script src="/src/app/story/story-service.js"></script>
<script src="/src/app/story/story-controller.js"></script>
<script src="/src/app/snap/snap.js"></script>
<script src="/src/app/snap/snap-service.js"></script>
<script src="/src/app/snap/snap-controller.js"></script>
<script src="/src/app/login/login.js"></script>
<script src="/src/app/login/login-controller.js"></script>
<script src="/src/app/layout/layout.js"></script>
<script src="/src/app/layout/layout-controller.js"></script>
<script src="/src/app/home/home.js"></script>
<script src="/src/app/home/home-controller.js"></script>
<script src="/src/app/game/game.js"></script>
<script src="/src/app/game/game-service.js"></script>
<script src="/src/app/game/game-controller.js"></script>
<script src="/src/app/common/common.js"></script>
<script src="/src/app/backup/backup.js"></script>
<script src="/src/app/backup/backup-controller.js"></script>
<script src="/src/app/account/account.js"></script>
<script src="/src/app/account/account-service.js"></script>
<script src="/src/app/account/account-controller.js"></script>
<script src="/src/app/app.js"></script>
<!-- endinject -->
<!-- Templates -->
<script src="templates.js"></script>
<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--TEMPLATES-->

<!--TEMPLATES END-->

</body>
</html>
